.DS_Store

local-service/mongo/*

local-service/mysql/*
!local-service/mysql/conf

local-service/redis/*
!local-service/redis/conf

local-service/nginx/*
!local-service/nginx/conf

local-service/rabbitmq/*
!local-service/rabbitmq/conf

local-service/elasticsearch/*
!local-service/elasticsearch/plugins

local-db/mysql5/*
!local-db/mysql5/conf.d/mysql5

local-db/redis
!local-db/redis/redis.conf

nginx-server/ssl-cerf/*
!nginx-server/ssl-cerf/.gitkeep

jetbrains-server/msmtpd-passwd.env